.search-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.table-container {
  overflow: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
