

<h2>
  <span>Workers List</span>
</h2>


  <ng-template ngFor let-item [ngForOf]="notifications" let-i="index" >
    <ejs-message id={{item.id}} severity={{item.severity}}>{{item.message}}</ejs-message>
    <br/>
    <br/>
  </ng-template>



<div *ngIf="workers.length < 0">
  <mat-spinner></mat-spinner>
</div>
<div class="search-toolbar">
  <app-force-search
    label="Search"
    placeholder="Enter name or operation"
    (searchChange)="filterWorkers($event)"
    (cancel)="clearSearch()"
  ></app-force-search>

  <app-force-button
    label="Add Worker"
    icon="add"
    (action)="onAddNewWorker()"
  ></app-force-button>
</div>

<div class="workers-list">
  <mat-card class="worker-card" *ngFor="let worker of filteredWorkers">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          class="avatar"
          [src]="worker.profileImageUrl || 'assets/default-avatar.png'"
          alt="Worker"
        />
      </div>
      <div class="worker-info">
        <mat-card-title>
          {{ worker.firstName }} {{ worker.lastName }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ getOperationName(worker.operationId) }}
        </mat-card-subtitle>
      </div>
     
    </mat-card-header>
    <mat-card-content style="margin-left: 20px;">
      <p>
       Balance:
        <span
            class="amount"
            [ngClass]="{ positive: worker.currentBalance >= 0, negative: worker.currentBalance < 0 }"
          >
            N{{ worker.currentBalance | currency }}
      </span>
    </p>
    </mat-card-content>
    <mat-card-actions class="worker-card-actions">
      <button mat-button color="primary" (click)="onAddTransaction(worker)">
        <mat-icon>attach_money</mat-icon>
      </button>
      <button mat-button color="accent" (click)="onEdit(worker)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button class="action-button" (click)="onRemove(worker)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
