

  .mat-toolbar {
    background-color: var(--mat-sys-primary);
  }


  .mat-sidenav-container {
    height: 93vh;
    background-color: var(--mat-sys-background);
  }

  .mat-sidenav-content{
    padding: 20px;
    background-color: var(--mat-sys-surface-container-lowest);
  }

 
  
  .content-area {
    padding: 1rem;
  }
  
