<div>
<h1 *ngIf="!childActive" style="padding-left: 30px;">
  Workers
</h1>
<div class="breadcrumb" *ngIf="childActive">
    <nav>
      <a routerLink="/workers" routerLinkActive="active">workers</a> /
      <span>list</span>
    </nav>
  </div>
<ng-template ngFor let-item [ngForOf]="notifications" let-i="index" >
    <ejs-message id={{item.id}} severity={{item.severity}}>{{item.message}}</ejs-message>
    <br/>
    <br/>
  </ng-template>
  <ng-container *ngIf="!childActive">
  
    <div class="menu-card-list">
      <app-menucard [roles]="card.roles" *ngFor="let card of cards" [data]="card" (cardClicked)="handleCardClick($event)"></app-menucard>
    </div>
  </ng-container>
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
  </div>
  

