<mat-card>
  <mat-card-header>
    <mat-card-title>Timeline</mat-card-title>
  </mat-card-header>

<div class="container" style="height: 330px; margin-top: 30px;">
  <ejs-timeline orientation="Vertical" [align]="Before">
    <e-items>
      <e-item
        *ngFor="let ev of events; let i = index"
        [content]="contentTemplate"
        [dotCss]="getDotCss(ev.icon)">
      </e-item>
    </e-items>
    <ng-template #contentTemplate let-data>
      <div class="content-container">
        <div class="title">
          {{ events[data.itemIndex].title }}
        </div>
        <span class="description">
          {{ events[data.itemIndex].description }}
        </span>
        <div class="info">
          {{ formatDate(events[data.itemIndex].actionDate) }}
        </div>
      </div>
    </ng-template>
  </ejs-timeline>
</div>


</mat-card>
